/*图片广告*/
.m-ads-type-1 {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.m-ads-type-1 a{
    width: 100%;
    display: block;
}

.m-ads-type-1 a img {
    max-width: 100%;
    max-height: 100%;
}
/*图片广告end*/

/*右下角弹窗广告*/
.m-ads-type-3{
    padding: 5px;
}
.m-ads-type-3 a{
    color: #333;
}
.m-ads-type-3>div{
    display: block;
    height: 115px;
    width: 100%;
    border-bottom: 2px dotted #ddd;
}
.m-ads-type-3 .m-ads-title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.m-ads-type-3 .m-ads-des{
    margin-left: 10px;
    float: left;
    width: 180px;
    height: 75px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}
.m-ads-type-3 img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 5px;
}
.m-ads-view{
    margin-top: 5px;
    width: 60px;
    display: block;
    float: right;
}
/*右下角弹窗广告 end*/

/*图片画廊广告*/
.m-ads-images {
    border: 1px solid #ccc;
}

.m-ads-images>div {
    width: 236px;
    height: 190px;
    text-align: center;
    margin: 5px;
}

.m-ads-images>div a {
    width: 100%;
    display: block;
    height: 166px;
    background-size: cover;
    background-position: center;
}
/*图片画廊广告 end*/