@import url("//at.alicdn.com/t/font_guwmj86ioi8me7b9.css");
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main_wrap {
  margin-top: 10px;
}
.m-details-main {
  width: 900px;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  display: block;
  float: left;
  background: #fff;
  padding: 25px 30px;
}
.m-details-main .m-details-header .m-title {
  color: #333;
  margin-bottom: 25px;
}
.m-details-main .m-details-header .m-span {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 15px;
}
.m-details-main .m-details-header .m-span > span {
  display: inline-block;
  margin-right: 20px;
}
.m-details-main .m-details-img a {
  margin: 10px auto;
  width: 800px;
  height: 625px;
  background-size: cover;
  background-position: center;
  display: block;
}
.m-details-main .m-details-info ul {
  list-style: none;
}
.m-details-main .m-details-info ul li {
  width: 260px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
}
.m-details-main .m-details-info ul li span {
  padding: 5px 10px;
}
.m-details-main .m-details-info ul li span.m-title {
  background: #888;
  border: 1px solid #ddd;
  color: #fff;
}
.m-details-main .m-img-designer {
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.m-details-main .m-img-designer .m-user .m-user-avatar img {
  width: 80px;
  height: 80px;
  float: left;
}
.m-details-main .m-img-designer .m-user .m-user-info {
  float: left;
  margin-left: 20px;
}
.m-details-main .m-img-designer .m-user .m-user-info a {
  font-size: 19px;
}
.m-details-main .m-img-designer .m-user .m-user-info a,
.m-details-main .m-img-designer .m-user .m-user-info span {
  display: block;
  margin-top: 15px;
}
.m-details-main .m-img-designer .m-download {
  float: right;
  margin-top: 32px;
}
.m-details-main .m-img-designer .m-download a {
  padding: 15px 35px;
  background: #ddd;
  border: 1px solid #bfccda;
  color: #333;
  margin-left: 20px;
  font-size: 17px;
}
.m-details-main .m-img-designer .m-download .m-download-1 {
  background: #e70;
  color: #fff;
}
.m-details-main .m-img-designer .m-download .m-active {
  color: #e70;
}
.m-details-main .m-des {
  margin-top: 15px;
}
.m-details-main .m-des h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.m-details-slider {
  width: 260px;
  background: #fff;
  float: right;
  padding: 10px;
}
.m-details-slider .m-title {
  font-weight: bold;
}
.m-details-slider .m-research {
  margin-top: 20px;
}
.m-details-slider .m-research .m-item {
  margin-top: 10px;
}
.m-details-slider .m-research .m-item a {
  width: 255px;
  height: 255px;
  background-position: center;
  background-size: cover;
  display: block;
}
.m-details-slider .m-research .m-item p {
  text-align: center;
  margin-top: 5px;
}
