@import url("//at.alicdn.com/t/font_23p2bipj6x7jh5mi.css");
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.m-index-slider {
  width: 300px;
  display: inline-block;
  margin-bottom: 20px;
}
.m-index-slider .m-title {
  font-size: 20px;
  color: #e70;
  border-bottom: 1px solid #e70;
  margin-bottom: 15px;
  line-height: 30px;
}
.m-index-slider .m-all {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 300px;
  padding: 15px 0;
}
.m-index-slider .m-item {
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 15px;
  width: 260px;
}
.m-index-slider .m-item .m-item-parent a {
  font-size: 17px;
  color: #333;
}
.m-index-slider .m-item .m-item-children {
  width: auto;
}
.m-index-slider .m-item .m-item-children li {
  display: inline-block;
  line-height: 15px;
  margin: 10px 10px 10px 0;
}
.m-index-slider .m-item .m-item-children a {
  font-size: 14px;
  color: #aaa;
  display: inline;
}
.m-index-slider .m-item .m-item-children a:hover {
  color: #e70;
}
.m-index-main {
  width: 920px;
  margin-left: 40px;
  margin-bottom: 20px;
  display: block;
  float: right;
}
.m-index-main .m-title {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 30px;
}
.m-index-main .m-title a {
  color: #333;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ddd;
}
.m-index-main .m-title a:hover,
.m-index-main .m-title a.active {
  background: #e70;
  color: #fff;
}
.m-index-main .m-item {
  width: 270px;
  height: 300px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: 1px solid #c9caca;
  display: inline-block;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.m-index-main .m-item > a {
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 270px;
  display: block;
}
.m-index-main .m-item:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.m-index-main .m-item-info {
  margin-top: 10px;
}
.m-index-main .m-item-info a {
  color: #333;
  font-size: 15px;
}
