<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <link href="{@theme:space.css}/space.css" rel="stylesheet" />
    <link href="{@theme:css}/allUser.css" rel="stylesheet" />
</head>
<!--#
$address="中国";
    if($user['location_text']){
        $tmp=explode(" ",$user['location_text']);
        $address=$tmp[0];
    }
#-->

<body>
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="m-user main_wrap">
            <div class="m-user-nav">
                <div>
                    <a href="{@url:bbs/allUser/run}">全部</a>
                </div>
                <!--# foreach($groups as $group){ #-->
                <div>
                    <a href="{@url:bbs/allUser/run?gid=$group['gid']}">{$group['name']}</a>
                </div>
                <!--# } #-->
            </div>
            <div class="m-user-main">
                <!--# if(isset($users) && !empty($users)){ #-->
                <!--# foreach($users as $user){ #-->
                <div>
                    <div class="m-space-header">
                        <div class="m-space-author">
                            <div class="m-space-avatar">
                                <img src="{@Pw::getAvatar($user['uid'],'middle')}" alt="{$user['username']}">
                            </div>
                            <div class="m-space-my">
                                <div class="m-space-name">
                                    {$user['username']}
                                </div>
                                <div class="m-space-address">
                                    <span>
                                <img src="{@theme:space.images}/local.png" alt=""> {$address}
                            </span>
                                </div>
                                <div class="m-space-operation">
                                    <a href="{@url:profile/index/run}">
                                个人设置
                            </a>
                                    <a href="{@url:space/thread/run?uid=$user['uid']}">
                                他的帖子
                            </a>
                                    <a href="{@url:my/follow/run}">
                                他的关注
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-user-thread">
                        <!--#
                        if(isset($user['threads'])){
                         foreach($user['threads'] as $thread){ #-->
                        
                        <div>
                            <!--# if($thread['thumb']){ #-->
                            <a title="{$thread['name']}" href="{@url:bbs/read/run?tid=$thread['tid']&fid=$thread['fid']}">
                                <img title="{$thread['name']}" src="{$thread['thumb']}" alt="{$thread['name']}">
                            </a>
                            <!--# } #-->
                        </div>
                        <!--# }} #-->
                    </div>
                </div>
                <!--# }}else{ #-->
                    <div class="m-user-no">
                        该分类展示没有用户
                    </div>
                <!--# } #-->
            </div>
            <div class="m-user-footer">
            <div class="pages_wrap cc">
                 <div class="J_page_wrap" data-key="true">
                    <page tpl="TPL:common.page" page="$page" per="$perpage" count="$count" total="$totalpage" url="bbs/thread/run?fid=$fid" args="$urlargs"/>
                 </div>
                </div>
            </div>
        </div>
        <template source='TPL:common.footer' load='true' />
    </div>
    <script>
    var SPACE_FOLLOW = "{@url:my/follow/add}",
        SPACE_UNFOLLOW = "{@url:my/follow/delete}";

    //新鲜事回复提交地址
    var FRESH_DOREPLY = "{@url:space/myspace/doreply}";
    var content_lenght = '<!--# echo count($threads); #-->';
    //引入js组件
    Wind.use('jquery', 'global', 'dialog', 'ajaxForm', 'tabs', 'draggable', 'uploadPreview', function() {
        //计算content高度
        var height = (Math.ceil(content_lenght / 3) * ($('.m-panel').height() + 15));
        $(".m-space-main").css("height", height + "px");
        Wind.js(GV.JS_ROOT + 'pages/space/space_index.js?v=' + GV.JS_VERSION, GV.JS_ROOT + 'pages/common/freshRead.js?v=' + GV.JS_VERSION);

        //回复表情 表情js由freshRead.js引入
        $('#J_feed_lists').on('click', 'a.J_fresh_emotion', function(e) {
            e.preventDefault();
            insertEmotions($(this), $($(this).data('emotiontarget')));
        });
    });
    </script>
</body>

</html>
