<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <link href="{@theme:css}/forum.css?v={@NEXT_RELEASE}" rel="stylesheet" />
    <link href="{@theme:css}/thread.css" rel="stylesheet" />
    

</head>

<body>
    <pw-start/>
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap">
            <pw-tpl id="main_segment" />
            <!--div class="bread_crumb">
			{@$headguide|html}
		</div-->
            <div class="forum_page">
                <div class="bbs_info_box">
                    <span>今日：{$todayposts}</span><i></i><span>昨日：{$bbsinfo['yposts']}</span><i></i><span>最高日：{$bbsinfo['hposts']}</span><i></i><span>帖子：{$article}</span><i></i><span>会员：{$bbsinfo['totalmember']}</span><i></i><span>新会员：<a href="{@url:space/index/run?username=$bbsinfo['newmember']}" target="_blank">{$bbsinfo['newmember']}</a></span>
                </div>
                <pw-tpl id="first_segment" />
                <div class="box_wrap">
                </div>
            </div>
            <pw-tpl id="forumlist_bottom" />
            <div class="box_wrap"></div>
            <pw-tpl id="forumlist_2" />
            <div class="box_wrap"></div>
            <pw-tpl id="forumlist_3" />
        </div>
        <template source='TPL:common.footer' load='true' />
    </div>
    <script>
    Wind.use('jquery', 'global', function() {
    });
    </script>
    <pw-end/>
</body>

</html>
