<!DOCTYPE html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">
	<form method="post" class="J_ajaxForm" action="{@url:app/MedzExt20131221/manage/post}">
	<div class="h_a">基础设置</div>
	<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col />
			<col />
			<tr>
				<th>用户组设置：</th>
				<td>
					<div class="user_group J_check_wrap J_usergroup_items" >
					<!--# foreach($groups as $k => $v) { #-->
						<dl>
							<dt><label><input class="J_check_all" data-direction="y" data-checklist="J_check_{$k}" type="checkbox" />{$v['name']}</label></dt>
							<dd>
							<!--# foreach($v as $k1 => $v1) { #-->
							<!--# if($k1 != 'name' && is_array($v1)) { #-->
								<label><input {@Pw::ifcheck($group[$k1] == $v1['gid'])} class="J_check" data-yid="J_check_{$k}" type="checkbox" name="group[{$k1}]" value="{$v1['gid']}" /><span>{$v1['name']}</span></label>
							<!--# } #-->
							<!--# } #-->
							</dd>
						</dl>
						<!--# } #-->
					</div>
				</td>
				<td><div class="fun_tips">设置有权限操作聚合的用户组</div></td>
			</tr>
		</table>
	</div>
	<div class="btn_wrap">
		<div class="btn_wrap_pd">
			<button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">提交</button>
			<a class="btn J_dialog" href="{@url:app/MedzExt20131221/manage/datele}" title="删除聚合" role="button">删除聚合</a>
		</div>
	</div>
	</form>
</div>
<template source='TPL:admin.common.footer' />
</body>
<script>
Wind.use('dialog', 'ajaxForm', function() { 
});
</script>
</html>