<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body style="width:300px;" class="body_none">
	<form class="J_ajaxForm" data-role="list" action="{@url:app/MedzExt20131221/manage/out}" method="post" >
	<div class="pop_cont pop_table" style="height:auto;">
		<table width="100%">
			<col class="th" />
			<col />
			<thead>
			<tr>
				<th>聚合帖ID：</th>
				<td><input name="tid" type="text" class="input length_3"></td>
			</tr>
			</thead>
			<tr>
				<th>被聚合帖ID：</th>
				<td><input name="tids" type="text" class="input length_3"></td>
			</tr>
		</table>
	</div>
	<div class="pop_bottom">
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button type="submit" class="btn btn_submit mr10 fr J_ajax_submit_btn">提交</button>
	</div>
	
</form>
<template source='TPL:admin.common.footer' />
</body>
</html>