@import url("config");

/* 用于首页的index-panel */
@index-panel-width: (@baseWidth / 4) - 36px;
.m-index-panel{
	width: @index-panel-width;
	margin-left: 10px;
	margin-right: 2px;
	margin-bottom: 10px;
}

.m-index-panel{
	 .m-panel-head{
		width: @index-panel-width;
		height: @index-panel-width / 1.47;
		overflow: hidden;
	}

	 .m-panel-head img{
		width: @index-panel-width;
		height: @index-panel-width / 1.43;
	}

}


/* index-panel end */

/* 首页版块列表 */
@cate-height: 56px;
.m-catelist{
	background: #ddd;
	padding-right: 3px;
	border: 1px solid #ccc;
	width: @baseWidth - 4px;
	height: (@cate-height + 12px);
	margin-bottom: 10px;
}

// .m-catelist>div{
// 	width: @baseWidth - 110px;
// 	background: #eee;
// 	height: @cate-height;
// 	margin: 5px;
// 	padding: 0 50px;
// }

.m-catelist>div{
	width: (@baseWidth / 4)- 40px;
	height: @cate-height;
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 3px;
	float: left;
}

.m-cate-title{
	font-size: 20px;
	width: 30px;
	float: left;
	// font-weight: bold;
}

/* 首页版块列表  end */

/*.m-forum p{
	float: left;
	padding-left: 8px;
	padding-top: 9px;
}*/

.m-forum{
	height: (@cate-height - 6x) ;
	margin-top: 3px;
	float: right;
	width: 220px;
}

.m-forum  a{
	font-size: 14px;
	margin-top: 5px;
	color: #333;
	display: block;
	float: left;
	width: 70px;
	height: 18px;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 3px;
}

/* 首页设计师展示 */