
.m-hr{
	width: 100%;
	height: 1px;
	border-top: 2px solid #888;
	margin-top: 10px;
}


/* 面包屑导航开始 */
.m-guide{
	margin-bottom: 15px;
}

.m-guide a{
	font-size: 15px;
	color: #888;
	font-weight: bold;
	text-decoration: none;
}
/* 面包屑导航结束 */


/* 版块标题 */
.m-head{
	color: #777;
	width: 100%;
	height: 40px;
	font-size: 16px;
	
}

.m-head-title{
	color: #444;
	margin-right: 10px;
	font-weight: bold;
}

.m-head-title,
.m-head-num,
.m-head-num div{
	float: left;
}

.m-head-num div{
	margin-left: 8px;
}
/* 版块结束 */


/* 版块目录开始 */

#m-nav{
	width: 943px;
	height: 80px;
	border: 1px solid #ccc;
	padding-left: 15px;
}

#m-nav .m-nav-des{
	float: left;
	width: 60px;
	color: #888;
	font-weight: bold;
}

.m-cate{
	margin-top: 15px;
	font-weight: bold;
}

.m-cate li{
	display: inline;
}

.m-cate li a.active , .m-cate li a:hover{
	background: #aaa;
	color: #fff;
	border: 1px solid #eee;
	text-decoration: none;
}

.m-cate li a{
	padding: 5px 10px;
	border: 1px solid #888;
	background: #fff;
	color: #666;
	text-decoration: none;
	border-radius: 3px;
}
/* 版块目录结束 */

/* main开始 */

.m-main-header{
	margin-top: 20px;
	margin-bottom: 10px;
}

.m-main-header a{
	padding: 5px 10px;
	border: 1px solid #888;
	color: #666;
	text-decoration: none;
	background: #fff ;
	margin-right: 5px;
	font-weight: bold;
	border-radius: 3px;
}

.m-main-header a:hover,.m-main-header a.active{
	background: #aaa;
	color: #fff;
	border: 1px solid #eee;
	text-decoration: none;
}

.m-main-content{
	width: 100%;
}

/* mian结束 */

/* 帖子列表开始 */
.m-panel{
	width: 310px;
	background: #fff;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	color: #888;
	font-weight: bold;
	overflow: hidden;

}

.m-panel a{
	color: #888;
	font-weight: bold;
	text-decoration: none;
}

.m-panel-top,.m-panel-hot{
	color: #fff;
	border-radius: 2px;
	padding: 5px;
	font-size: 10px;

}

.m-panel-top{
	background: #99cc66;
}

.m-panel-hot{
	background: #FF6666;
}

.m-panel .m-panel-head{
	width: 310px;
	height: 174.22px;
	overflow: hidden;
}

.m-panel .m-panel-head img{
	width: 310px;
}

.m-panel .m-panel-head a img:hover{
	width: 340px;
	transition: all 1s;
	-moz-transition: all 1s;	/* Firefox 4 */
	-webkit-transition: all 1s;	/* Safari 和 Chrome */
	-o-transition: all 1s;
}

.m-panel .m-panel-content{
	padding: 10px 10px 0 10px;

}

.m-panel .m-panel-content .m-panel-title{
	float: left;
}

.m-panel .m-panel-content .m-panel-icon div{
	margin-left: 10px;
	float: right;
}

.icon{
	vertical-align: text-bottom;
	width: 15px;
	margin-right: 5px;
}


.m-panel .m-panel-footer{
	padding: 5px 10px;
	margin-top: 30px;
	height: 40px;

}

.m-panel .m-panel-footer .m-panel-avatar img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.m-panel .m-panel-footer .m-panel-author-name{
	margin-top: -30px;
	margin-left: 50px;
}

.m-panel .m-panel-footer .m-panel-author{
	float: left;
}

.m-panel .m-panel-footer .m-panel-type{
	float: right;
	margin-top: 8px;
	background: #888;
	padding: 5px;
	border-radius: 5px;
}

.m-panel .m-panel-footer .m-panel-type a{
	color: #fff;
}

.m-no-content{
	color: #666;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	height: 120px;
	padding-top: 80px;
	background: #efefef;
}
	

/* 帖子列表结束 */

.m-page{
	
}


/* 用于首页的index-panel */
.m-index-panel{
	width: 220px;
	margin-left: 10px;
	margin-right: 0px;
}

.m-index-panel .m-panel-head{
	width: 220px;
	height: 123.4px;
	overflow: hidden;
}

.m-index-panel .m-panel-head img{
	width: 220px;
}

.m-index-panel .m-panel-head a img:hover{
	width: 240px;
	transition: all 1s;
	-moz-transition: all 1s;	/* Firefox 4 */
	-webkit-transition: all 1s;	/* Safari 和 Chrome */
	-o-transition: all 1s;
}

/* index-panel end */