<!DOCTYPE html>
<html lang="en">
<head>
    <template source='TPL:admin.common.head' />
    <template source='SRC:extensions.mdemand.template.common.m_head' />
</head>
<body>
    <div class="wrap">
        <fieldset class="layui-elem-field">
            <legend>详细信息 <a href="{@url:app/mdemand/manage/run}" class="layui-btn layui-btn-small">返回</a></legend>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入姓名" disabled autocomplete="off" value="{$data['name']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="1" title="男">
                            <input type="radio" name="sex" value="0" title="女" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input type="text" disabled name="phone" value="{$data['phone']}" required lay-verify="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设计师(公司)名称</label>
                        <div class="layui-input-block">
                            <input type="text" disabled name="design_name" value="{$data['design_name']}" required lay-verify="required" placeholder="请输入设计师(公司)名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <input type="radio" name="design_type" value="1" title="设计公司">
                            <input type="radio" name="design_type" value="2" title="设计师" >
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">qq</label>
                        <div class="layui-input-block">
                            <input type="text" value="{$data['qq']}" name="qq" required lay-verify="required" disabled placeholder="请输入qq号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性质&面积</label>
                        <div class="layui-input-block">
                            <input type="text" value="{$data['category']}" name="category" required lay-verify="required" placeholder="如：家具 150平米" autocomplete="off" disabled class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">具体需求</label>
                        <div class="layui-input-block">
                            <textarea disabled name="detail" placeholder="请输入具体需求" class="layui-textarea">{$data['detail']} </textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" value="-1" name="status" title="撤销">
                            <input type="radio" value="0" name="status" title="通知中">
                            <input type="radio" value="1" name="status" title="对接成功" >
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <script type="text/javascript">
        changeRadio("sex",'{$data["sex"]}');
        changeRadio("design_type",'{$data["design_type"]}');
        changeRadio("status",'{$data["status"]}');
        layui.use('form', function() {
            var form = layui.form();
        });
        function changeRadio(name,value){
            var $t=$('input[name="'+name+'"]');
            $t.each(function(){
                if($(this).val()==value){
                    $(this).attr("checked","checked");
                }
            });
        }
    </script>
</body>
</html>