<!doctype html>
<html>
<head>
	<template source='TPL:common.head' load='true' />
	<link href="{@theme:css}/forum.css?v={@NEXT_RELEASE}" rel="stylesheet" />
	<link href="{@G:url.css}/editor_content.css?v={@NEXT_RELEASE}" rel="stylesheet" />
<style>
.aPre{
	cursor:url({@theme:images}/common/pre.cur),auto;
}
.aNext{
	cursor:url({@theme:images}/common/next.cur),auto;right:0;
}
</style>
</head>
<body>
<pw-start/>
<div class="wrap">
	<template source='TPL:common.header' load='true' />
	<div class="main_wrap">
		<pw-tpl id="main_segment"/>
		<div class="bread_crumb">
			{@$headguide|html}
		</div>
		<pw-tpl id="first_segment"/>
		<div id="app_test"></div>
		<div id="cloudwind_read_top"></div>
		<input type="hidden" id="js-tid" value="$tid" />
		<div class="read_page" id="J_posts_list">
			<!--# if ($operateThread || $designPermission > 0) { #-->
			<div class="read_management cc J_post_manage_col" data-role="readbar">
				<!--#
					$hasFirstPart = $operateThread['topped'] || $operateThread['digest'] || $operateThread['highlight'] || $operateThread['up'];
					$hasSecondPart = $operateThread['type'] || $operateThread['print'] || $operateThread['move'] || $operateThread['copy'] || $operateThread['unite'];
					$hasThirdPart = $operateThread['lock'] || $operateThread['down'] || $operateThread['delete'];
				#-->
				<!--# if ($operateThread['topped']){ #--><a data-type="norefresh" href="{@url:bbs/manage/topped}" class="">置顶</a><!--# } #-->
				<!--# if ($operateThread['digest']){ #--><a href="{@url:bbs/manage/digest}" class="">精华</a><!--# } #-->
				<!--# if ($operateThread['highlight']){ #--><a href="{@url:bbs/manage/highlight}" class="">加亮</a><!--# } #-->
				<!--# if ($operateThread['up']){ #--><a href="{@url:bbs/manage/up}" class="">提前</a><!--# } #-->
				<!--# if ($hasFirstPart && $hasSecondPart){ #--><i>|</i><!--# } #-->
				<!--# if ($operateThread['type']){ #--><a href="{@url:bbs/manage/type}" class="">分类</a><!--# } #-->
				<!--# if ($operateThread['print']){ #--><a href="{@url:bbs/manage/unite}" class="">印戳</a><!--# } #-->
				<!--# if ($operateThread['move']){ #--><a href="{@url:bbs/manage/move}" class="">移动</a><!--# } #-->
				<!--# if ($operateThread['copy']){ #--><a href="{@url:bbs/manage/copy}" class="">复制</a><!--# } #-->
				<!--# if ($operateThread['unite']){ #--><a href="{@url:bbs/manage/unite}" class="">合并</a><!--# } #-->
				<!--# if ($hasThirdPart && ($hasFirstPart ^ $hasSecondPart || $hasFirstPart && $hasSecondPart)){ #--><i>|</i><!--# } #-->
				<!--# if ($operateThread['lock']){ #--><a href="{@url:bbs/manage/lock}" class="">锁定</a><!--# } #-->
				<!--# if ($operateThread['down']){ #--><a href="{@url:bbs/manage/down}" class="">压帖</a><!--# } #-->
				<!--# if ($operateThread['delete']){ #--><a href="{@url:bbs/masingle/delete}">删除</a><!--# } #-->
				<!--# if ($designPermission > 0) { #-->
					<!--# if ($hasFirstPart || $hasSecondPart || $hasThirdPart){ #--><i>|</i><!--# } #-->
				<a data-type="norefresh" href="{@url:design/push/add?fromtype=thread&fromid=$tid}" class="" title="推送">推送</a><!--这玩意交互改下class="mr10 J_manage_single" id="J_push_trigger"  以前的推送class="J_read_push" -->
				<!--# } #-->
			</div>
			<!--# } #-->
<div class="cc">
<div class="read_left">
	<!--# foreach ($readdb as $key => $read) { #-->
<!--# if ($read['lou'] == 0) { #-->

<div class="area_al pdb20" id="recipe_info" itemid="376306">
		<div class="rec_con_lar cc">
			<div class="large">
				<img alt="{$threadInfo['subject']}" class="recipe_cover" src="{@url:app/MedzExt20131231/get/image?tid=$tid}" />
				<!-- style="margin-top: -120px;" -->
			</div>
			<div class="large_info">
				<div class="box">
			 		<h1 class="fl" id="stitle" title="{$threadInfo['subject']}">{$threadInfo['subject']}</h1><a class="fl se_more orange" href="{@url:bbs/thread/run?fid=$pwforum->fid&page=$fpage}" target="_blank" title="更多做法">/更多做法</a>
			 		<div class="is_side"><a id="J_readreply_main" href="#" title="评论" class="review fr"><b class="ico20"></b>评论<i>({$threadInfo['replies']})</i></a><span class="skim fr"><b class="ico20"></b>浏览<i>({$threadInfo['hits']})</i></span></div>
				</div>
				<div class="pop_tags mgt20">
				<!--# { 
					$read['tags'] && $reaTags = explode(',', $read['tags']);
				#-->
				<div id="J_read_tag_wrap" class="read_tag_list">
					<!--# foreach ((array)$reaTags as $tag) { #-->
					<a data-url="{@url:tag/index/card?name=$tag}" class="J_read_tag_item" href="{@url:tag/index/view?name=$tag}">{$tag}</a>
					<div class="tag_card J_tag_card" style="display:none;"><div class="pop_loading"></div></div>
					<!--# } #-->
					<!--# if (($read['created_userid'] === $loginUser->uid && $loginUser->getPermission('tag_allow_add')) || $loginUser->getPermission('tag_allow_edit')) { #-->
					<a id="J_read_tag_edit_btn" href="javascript:;" class="edit">[编辑话题]</a>
					<!--# } #-->
				</div>
				<!--=========话题编辑=========-->
				<div id="J_read_tag_edit" class="mb10 cc" style="display:none;">
					<form id="J_read_tag_form" action="{@url:tag/index/editReadTag?tid=$tid}" method="post">
						<div class="user_select_input J_user_tag_wrap fl mr10">
							<ul class="fl J_user_tag_ul"></ul>
							<input class="J_user_tag_input" data-name="tagnames[]" type="text" />
						</div>
						<button id="J_read_tag_sub" class="btn btn_submit">保存</button>
					</form>
				</div>
				<!--# } #-->
				</div>
				<!-- <ul class="quantity">
					<li>准备时间：10分钟内</li>
					<li>制作时间：10-20分钟</li>
					<li>用餐人数：3-4人</li>
				</ul> -->
				<div class="quantity">
					<div class="fl popm">
						<p class="islove">
						<!--# if (!$read['pid']) { #-->
						<a role="button" rel="nofollow" href="{@url:like/mylike/doLike}" data-tid="{$tid}" data-pid="{$read['pid']}" data-fid="{$fid}" style="width:60px" class="btn_orange like_click J_like_btn J_qlogin_trigger" data-role="main" data-typeid="1" data-fromid="{$read['tid']}"><em class="ico20">&nbsp;</em>喜欢</a><!--# } #-->
						<span><b class="ico12">&nbsp;</b>{$read['like_count']}</span>
					</p>
						<!-- <a class="dbtn btn_green f14" href="javascript:void(0);" handle="addtoalbum" title="收藏到专辑"><i class="ico12">&nbsp;</i>收藏到专辑</a> -->
					</div>
					<div id="rc_cont_box_share">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a>
							<a href="#" class="bds_more" data-cmd="more"></a>
						</div>
					</div>
				</div>
				<div class="uid_inf">
					<a href="{@url:space/index/run?uid=$read['created_userid']}" class="J_user_card_show img" data-uid="{$read['created_userid']}" target="_blank" title="{$read['created_username']}" rel="nofollow"><img src="{@Pw::getAvatar($read['created_userid'])}" width="70" height="70" alt="{$read['created_username']}" uid="171015"></a>
					<div class="box">
						<h3 class="gray6"><a href="{@url:space/index/run?uid=$read['created_userid']}" target="_blank" title="{$read['created_username']}" rel="nofollow">{$read['created_username']}</a><img src="{@G:url.images}/level/{$lpic[$users[$read['created_userid']]['groupid']]}" alt="{$ltitle[$users[$read['created_userid']]['groupid']]}"></h3>
						<p class="gray9 mgt5 mgb5">{$users[$read['created_userid']]['location_text']}<i class="ico12 ico {@($_isol = Pw::checkOnline($users[$read['created_userid']]['lastvisit'])) ? 'online' : 'notline'}">&nbsp;</i>{@$_isol ? '在线' : '离线'}</p>						<p class="mgt5">
							<a class="sbtn btn_green  J_read_follow J_qlogin_trigger" rel="nofollow" href="{@url:my/follow/add}" data-uid="{$read['created_userid']}"><i class="ico12 add">&nbsp;</i>关注</a>							<a class="sbtn btn_gray J_send_msg_pop J_qlogin_trigger" href="{@url:message/message/pop?username=$read['created_username']}" data-name="{$read['created_username']}"><i class="ico12 mag">&nbsp;</i>发私信</a>
							<!--a class="sbtn btn_gray" href="javascript:void(0);" title="打招呼"><i class="ico12 fac">&nbsp;</i>打招呼</a-->
				        </p>
					</div>
				</div>
			</div>
		</div>
	</div>	
    <!--# } #-->
    		<a name="{$read['pid']}"></a><!--# if ($read['lou'] == $count-1) { #--><a name="a"></a><!--# } #-->

    			<template source='read_floor' load='true' />
			<advertisement id='Read.Layer.TidAmong' sys='1'/>
			<!--# } #-->
            <div id="floor_reply"></div>
			<page tpl="TPL:common.page_vertical" page="$page" per="$perpage" count="$count" total="$totalpage" url="bbs/read/run?tid=$tid&fid=$fid" args="$urlargs"/>
<div class="read_pages_wrap cc" style="padding:10px 20px 20px">
				<a rel="nofollow" href="{@url:bbs/post/run?fid=$pwforum->fid}" id="J_read_post_btn" class="btn_post{$postNeedLogin}">发帖</a>
				<!-- 锁定时间 -->
				<!--# if($showReply){ #-->
				<a rel="nofollow" href="{@url:bbs/post/reply?tid=$tid}" data-referer="true" class="btn_replay{$replyNeedLogin}">回复</a>
				<!--# } #-->
				<div class="J_page_wrap" data-key="true">
				<div class="pages" style="margin-right:3px;"><a href="{@url:bbs/thread/run?fid=$pwforum->fid&page=$fpage}" class="pages_pre" rel="nofollow">&laquo; 返回列表</a></div>
				<page tpl="TPL:common.page" page="$page" per="$perpage" count="$count" total="$totalpage" url="bbs/read/run?tid=$tid&fid=$fid" args="$urlargs"/>
				
				</div>
			</div>
            <!----rep end div---->
            </div>
            <!----rep end div---->
            
</div>

<div class="read_right">
		<pw-tpl id="douguo_readright"/>
</div>


</div>
			
			<div style="display:none;" class="btn_post_menu" id="J_read_post_types">
				<ul>
					<!--# foreach ($pwforum->getThreadType($loginUser) as $key => $value) { #-->
						<!--# $_urladd_ = ($key != 'default') ? ('&special=' . $key) : ''; #-->
					<li><a href="{@url:bbs/post/run?fid=$pwforum->fid}{$_urladd_}" data-referer="true" class="{@trim($postNeedLogin)}">{$value[0]}</a></li>
					<!--# } #-->
				</ul>
			</div>
			<pw-tpl id="read_bottom"/>
			<div id="cloudwind_read_bottom"></div>
		</div>
		<!--# if ($operateReply) { #-->
		<div id="J_post_manage_main" class="core_pop_wrap J_post_manage_pop" style="display:none;position:fixed;_position:absolute;">
			<div class="core_pop">
				<div style="width:250px;">
					<div class="pop_top"><a href="#" id="J_post_manage_close" class="pop_close">关闭</a><strong>帖子操作</strong>(已选中&nbsp;<span class="red" id="J_post_checked_count">1</span>&nbsp;篇&nbsp;&nbsp;<a href="" class="s4" id="J_post_manage_checkall" data-type="check">全选</a>)</div>
					<div class="pop_cont">
						<div class="pop_operat_list">
							<ul class="cc J_post_manage_col" data-role="read">
								<!--# if ($operateReply['delete']){ #--><li><a data-type="delete" href="{@url:bbs/masingle/delete}">删除</a></li><!--# } #-->
								<!--# if ($operateReply['unite']){ #--><li><a href="{@url:bbs/masingle/unite}">合并</a></li><!--# } #-->
								<!--# if ($operateReply['split']){ #--><li><a href="{@url:bbs/masingle/split}">拆分</a></li><!--# } #-->
								<!--# if ($operateReply['shield']){ #--><li><a href="{@url:bbs/masingle/shield}">屏蔽</a></li><!--# } #-->
								<!--# if ($operateReply['remind']){ #--><li><a href="{@url:bbs/masingle/remind}">提醒</a></li><!--# } #-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--# } #-->
	</div>
	<template source='TPL:common.footer' load='true' />
</div>

<textarea id="J_like_user_ta" class="dn">
	<div id="" class="core_pop_wrap" style="position:absolute;">
		<div class="core_pop">
			<div class="floot_like_pop">
				<div class="pop_top"><a href="#" class="pop_close J_like_user_close">关闭</a>最新喜欢</div>
				<div class="pop_cont">
					<ul class="cc J_like_user_list"></ul>
				</div>
			</div>
		</div>
	</div>
</textarea>

<script>
var TID = '{$tid}';
Wind.use('jquery', 'global', 'dialog', function(){
<!--# if(!$is_design) { #-->
	<!--# if ($loginUser->isExists()) { #-->
	//已登录

	//管理操作
	Wind.js(GV.JS_ROOT +'pages/bbs/threadManage.js?v='+ GV.JS_VERSION);

	$('a.J_read_mark').on('click', function(e) {
		e.preventDefault();
		var $this = $(this);
		$('body').trigger('setCustomPost', [$this]);
		$.post($this.data('uri'), function(data) {
			Wind.Util.resultTip({
				error : (data.state == 'success' ? false : true),
				elem : $this,
				follow : true,
				msg : data.message[0]
			});
		}, 'json');
	});

	//加关注
	$('a.J_read_follow').on('click', function(e) {
		e.preventDefault();
		var $this = $(this);
		Wind.Util.ajaxMaskShow();
		$.post( this.href, {
			uid: $this.data('uid')
		}, function(data) {
			Wind.Util.ajaxMaskRemove();
			if(data.state == 'success') {
				$this.removeClass('follow').addClass('unfollow').text('已关注');
				Wind.Util.resultTip({
					msg : data.message[0],
					follow : $this
				});

				$('#J_user_card_'+ $this.data('uid')).remove();
			}else if( data.state == 'fail' ) {
				Wind.Util.resultTip({
					error : true,
					msg : data.message[0],
					follow : $this
				});
			}
		}, 'json');
	});

	<!--# if ($operateReply['toppedreply'] && $read['lou']){ #-->
	//帖内置顶
	(function(){
		var top_lock = false;
		$('a.J_post_top').on('click', function(e){
			e.preventDefault();
			var $this = $(this),
				topped = $this.data('topped');

			if(top_lock) {
				return false;
			}
			top_lock = true;
			$('body').trigger('setCustomPost', [$this]);
			$.post($this.data('uri'), function(data){
				if(data.state == 'success') {
					Wind.Util.resultTip({
						follow : $this,
						msg : data.message[0],
						callback : function(){
							location.reload();
						}
					});
				}else if(data.state == 'fail') {
					Wind.Util.resultTip({
						error : true,
						follow : $this,
						msg : data.message[0]
					});
					top_lock = false;
				}
			}, 'json');
		})
	})();
		<!--# } #-->
	<!--# } #-->


	// 阅读页的常用交互
	Wind.js(GV.JS_ROOT +'pages/bbs/read.js?v='+ GV.JS_VERSION);

	// 投票帖
	if($('ul.J_vote_item, a.J_vote_list_show').length) {
		Wind.js(GV.JS_ROOT +'pages/bbs/readVote.js?v='+ GV.JS_VERSION);
	}

	// 购买记录
	if($('#J_content_sell, #J_attach_buy, a.J_buy_record, .J_attach_post_del, a.J_attach_post_buy').length) {
		Wind.js(GV.JS_ROOT + 'pages/bbs/buyRecords.js?v=' + GV.JS_VERSION);
	}

	//媒体播放
	if( $('div.J_audio,div.J_video').length ) {
		Wind.js(window.GV.JS_ROOT + 'pages/bbs/media_play.js?v=' + GV.JS_VERSION);
	}


<!--# if(false != Wekit::C('bbs', 'read.image_lazy')) { #-->
	// 图片懒加载
	Wind.js(GV.JS_ROOT + 'util_libs/lazyload.js?v=' + GV.JS_VERSION, function(){
		$("img.J_lazy").lazyload({
	        effect: 'fadeIn',
	        error: function(settings){
	        	$(this).attr("src", '#').removeClass("J_lazy")
	        }
	    });
	});
<!--# } #-->

<!--# } #-->
});
</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
<hook class='$threadDisplay' name="runJs" />
<pw-end/>
</body>
</html>