<!--#if ($_GET['act']=='open') {#-->
<style>
#show{width:480px;height:205px;background:#FFF;}
.jsjbtn{width:100%;height:50px;background:#f4f4f4;cursor:pointer;color:#121212;font-size:18px;text-align:center;line-height:50px;font-family:"microsoft yahei";border:none;margin-top:-25px}
.img {position:absolute;margin-left:15px}
</style>
	<div class="img">
		<img src="src/extensions/jsjpay/res/images/alipay.jpg"  />
	</div>
	<div class="pop_report" id="show">
		<form action="index.php?m=app&app=jsjpay&act=post" method="post" onsubmit="return Juge(this)">

		<div class="pop_help_punch" style="margin-top:-30px;">
			<div class="info">
				　1元人民币 = <span class="org">{$bili}{$cnuit}{$cname}</span>，最少充值<span class="org">{$min}{$cnuit}{$cname}</span><div class="arrow"><em></em><span></span></div>
			</div>
		</div>
		<div class="select_box2" style="margin-top:-300px;">
			<div class="not_content_mini">
				请输入充值的{$cname}数量：<input type="text" class="length_3" name="num" id="num" onkeyup="changenumb()" required="required">
				<div class="not_content_mini"><i></i><span id="jhjrmb"></span></div>
		</div>
		<input type="hidden" name="csrf_token" value="{@Wind::getComponent('windToken')->saveToken('csrf_token')}"/>
		<button type="submit" class="jsjbtn">提交</button>
		</form>
	</div>

<script type="text/javascript">
function changenumb() {
	var num = document.getElementById("num").value.toInt();
	rmb = num / {$bili};
	zj = Math.ceil(rmb);

	if(num >= {$min}) {
		document.getElementById("jhjrmb").innerHTML = '亲，需要支付人民币&yen: '+zj;
	}else{
		document.getElementById("jhjrmb").innerHTML = '支付过程中请勿关闭网页,直至返回本站。';
	}
}
String.prototype.toInt = function() {
	var s = parseInt(this);
	return isNaN(s) ? 0 : s;
}
changenumb();

function fnRemoveBrank(strSource){
	return strSource.replace(/^\s*/,'').replace(/\s*$/,'');
}
function Juge(theForm){

if (fnRemoveBrank(theForm.num.value) == ""){
Wind.use('jquery', 'global',function(){Wind.Util.resultTip({
error : true,msg : "请输入充值的{$cname}数量"});});
return (false);
}

var str = parseInt(theForm.num.value);
var min = parseInt({$min});
if (str < min){
Wind.use('jquery', 'global',function(){Wind.Util.resultTip({
error : true,msg : "请输入限额内的充值数量(大于等于{$min}{$cname})"});});
return (false);
}


if (fnRemoveBrank(theForm.num.value) != str){
Wind.use('jquery', 'global',function(){Wind.Util.resultTip({
error : true,msg : "充值数量只能输入整数"});});
return (false);
}

}
</script>
<!--#}else{#-->
<!--#}#-->