<!doctype html>
<html lang="zh">

<head>
    <template source='TPL:admin.common.head' />
    <template source='SRC:extensions.mTopNav.template.common.m_head' />
    <style>
        .m-upload-img {
            max-width: 100%;
            min-width: 300px;
            overflow: hidden;
            max-height: 300px;
            margin-left: 112px;
            margin-bottom: 20px;
        }
        
        .m-upload-img img {
            max-width: 100%;
            max-height: 300px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <template source='SRC:extensions.mTopNav.template.common.m_nav' />
        <div>
            <form class="layui-form layui-form-pane" action="">
                <fieldset class="layui-elem-field">
                    <legend>编辑导航</legend>
                    <div class="layui-field-box">
                        <!-- 导航标题 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input value="{$data['title']}" name="title" lay-verify="required" type="text" class="layui-input" />
                            </div>
                        </div>
                        <!-- 导航标题 end -->

                        <div class="layui-form-item m-manage-link">
                            <label class="layui-form-label">链接</label>
                            <div class="layui-input-block">
                                <input value="{$data['link']}" lay-verify="url" name="link" type="text" class="layui-input" />
                            </div>
                        </div>
                        <!-- 导航链接 end -->

                        <!--位置-->
                        <div class="layui-form-item m-manage-link">
                            <label class="layui-form-label">位置</label>
                            <div class="layui-input-block">
                                <!--# if($data['float_type']==1){ #-->
                                <input name="float_type" type="radio" value="1" title="左边" checked />
                                <input name="float_type" type="radio" value="2" title="右边" />
                                <!--# }else{ #-->
                                <input name="float_type" type="radio" value="1" title="左边"  />
                                <input name="float_type" type="radio" value="2" title="右边" checked />
                                <!--# } #-->
                            </div>
                        </div>
                        <!--位置end-->


                        <!--排序-->
                        <div class="layui-form-item m-manage-link">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block">
                                <input placeholder="序号越大越靠后（越靠右）" lay-verify="number" name="sort" type="text" value="{$data['sort']}" class="layui-input" />
                            </div>
                        </div>
                        <!--排序end-->

                        <!-- 导航样式 -->
                        <div class="layui-form-item m-manage-link">
                            <label class="layui-form-label">颜色</label>
                            <div class="layui-input-block">
                                <input value="{$data['style']['color']}" placeholder="不填表示默认色：#333333或rgb(123,123,123)" lay-verify="color" name="color" type="text" class="layui-input" />
                            </div>
                        </div>

                        <div class="layui-form-item m-manage-link">
                            <label class="layui-form-label">字体样式</label>
                            <div class="layui-input-block">
                                <!--# if($data['style']['font-weight']=='bold'){ #-->
                                <input type="checkbox" name="font[0]" title="加粗" checked>
                                <!--# }else{ #-->
                                <input type="checkbox" name="font[0]" title="加粗">
                                <!--# }if($data['style']['font-style']=='italic'){ #-->
                                <input type="checkbox" name="font[1]" title="斜体" checked>
                                <!--# }else{ #-->
                                <input type="checkbox" name="font[1]" title="斜体">
                                 <!--# }if($data['style']['text-decoration']=='underline'){ #-->
                                <input type="checkbox" name="font[2]" title="下划线"  checked>
                                <!--# }else{ #-->
                                <input type="checkbox" name="font[2]" title="下划线">
                                <!--# } #-->
                            </div>
                        </div>
                        <!-- 导航样式end -->

                        <input type="hidden" name="id" value="{$data['id']}">

                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button onclick="history.go(-1)" class="layui-btn layui-btn-primary">返回</button>
                            </div>
                        </div>
                        <!-- 提交按钮 end-->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form', 'upload'], function () {
            var form = layui.form();
            form.verify({
                color: function (value) {
                    if (value) {
                        console.log(value);
                        if (!(/(^#([0-9a-fA-F]{6}|[0-9a-fA-F]{3})$)|([rR][gG][Bb][Aa]?[\(]([\s]*(2[0-4][0-9]|25[0-5]|[01]?[0-9][0-9]?),){2}[\s]*(2[0-4][0-9]|25[0-5]|[01]?[0-9][0-9]?),?[\s]*(0\.\d{1,2}|1|0)?[\)]{1}$)/.test(value))) {
                            return '颜色必须为#333333或者rgb(22,22,22)格式';
                        }
                    }
                }
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                var params = data.field;
                var style = '';
                if (params['font[0]'] && params['font[0]'] == "on") {
                    style += 'font-weight: bold;'
                }
                if (params['font[1]'] == "on") {
                    style += "font-style: italic;"
                }
                if (params['font[2]'] == "on") {

                    style += "text-decoration: underline;"
                }
                if (!params.color) {
                    style += "color: #333;"
                } else {
                    style += "color: " + params.color + ";"
                }
                params.style = style;
                params.atag = '<a href="' + params.link + '" style="' + style + '">' + params.title + '</a>'
                layer.load();
                $.post("{@url:app/mTopNav/manage/edit}", params, function (res) {
                    res = JSON.parse(res);
                    layer.msg(res.msg);
                    if (res.status) {
                        location.href = "{@url:app/mTopNav/manage/run}";
                    }
                });
                return false;
            });
        });
    </script>
</body>

</html>