<!DOCTYPE html>
<html lang="en">

<head>
    <template source='TPL:admin.common.head' />
    <template source='SRC:extensions.mModel.template.common.head' />
</head>

<body>
    <div class="wrap">
        <template source='SRC:extensions.mModel.template.common.nav' />
        <fieldset class="layui-elem-field">
            <legend>编辑模型类别</legend>
            <div class="layui-field-box">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">类别名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="类别名" value="{$data['name']}" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">属于类型</label>
                        <div class="layui-input-block">
                            <select name="tid" lay-filter="type" lay-verify="required">
                                <option value=""></option>
                                <!--#foreach($type_data  as $v){#-->
                                <!--#if($data['tid']==$v['id']){#-->
                                    <option value="{$v['id']}" selected>{$v['name']}</option>
                                <!--#}else{#-->
                                    <option value="{$v['id']}">{$v['name']}</option>
                                <!--#}}#-->
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">上级类别</label>
                        <div class="layui-input-block">
                            <select  name="pid" lay-verify="required">
                                <option value=""></option>
                                <!--#if($data['pid']==0){#-->
                                    <option selected value="0">顶级类别</option>
                                 <!--#}else{#-->
                                    <option value="0">顶级类别</option>
                                <!--#}#-->
                                <!--#foreach($cate_data as $v){#-->
                                <!--#if($data['id']!=$v['id']) 
                                if($data['pid']==$v['id']){#-->
                                    <option value="{$v['id']}" selected>{$v['name']}</option>
                                <!--#}else{#-->
                                    <option value="{$v['id']}">{$v['name']}</option>
                                <!--#}}#-->
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                            <button onclick="history.go(-1)" class="layui-btn layui-btn-primary">返回</button>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{$data['id']}">
                </form>
            </div>
        </fieldset>
    </div>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form();

            //类别监听
            form.on('select(type)', function (data) {
                var load = layer.load();
                $.get("{@url:app/mModel/category/getByType}" + "&tid=" + data.value, function (res) {
                    res = JSON.parse(res);
                    layer.close(load);
                    if (res.status) {
                        var str = '<option value="">请选择上级分类*</option><option value="0">顶级分类</option>';
                        for (x in res.data) {
                            str += '<option value="' + res.data[x].id + '">' + res.data[x].name +
                                '</option>';
                        }
                        $('select[name="pid"]').html(str);
                        form.render('select');
                    } else {
                        layer.msg(res.msg, {
                            icon: 2
                        });
                    }
                });
                return false;
            });

            //监听提交
            form.on('submit(submit)', function (data) {
                var load = layer.load();

                var params = data.field;

                $.post("{@url:app/mModel/category/edit}", params, function (res) {
                    layer.close(load)
                    res = JSON.parse(res);
                    layer.msg(res.msg, {
                        icon: res.status
                    });

                    //添加成功跳转到主页面
                    if (res.status) {
                        location.href = "{@url:app/mModel/category/run}";
                    }
                });

                return false;
            });
        });
    </script>
</body>

</html>