<!DOCTYPE html>
<html lang="en">

<head>
    <template source='TPL:admin.common.head' />
    <template source='SRC:extensions.mModel.template.common.head' />
</head>

<body>
    <div class="wrap">
        <template source='SRC:extensions.mModel.template.common.nav' />



        <fieldset class="layui-elem-field">
            <legend>模型分类设置 <a class="layui-btn  layui-btn-primary layui-btn-small" href="{@url:app/mModel/category/add}">新增</a></legend>
            <div class="layui-field-box">

                <!-- 类型选择 -->
                <div>
                    <form class="layui-form layui-form-pane m-type-select" action="">
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-form-label">类型</label>
                                <div class="layui-input-inline" style="width: 240px;">
                                    <select lay-filter="typeSelect" lay-verify="required">
                                        <option value="0">全部</option>
                                        <!--# foreach($types as $type){ #-->
                                        <!--#if($type['id']==$type_id){#-->
                                        <option selected value="{$type['id']}">{$type['name']}</option>
                                        <!--# }else{ #-->
                                        <option  value="{$type['id']}">{$type['name']}</option>
                                        <!--# } #-->
                                        <!--# } #-->
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">顶级类别</label>
                                <div class="layui-input-inline" style="width: 240px;">
                                    <select lay-filter="cateSelect" lay-verify="required">
                                        <!--#if(empty($cates)){#-->
                                            <option value="">请先选择模型类型</option>
                                        <!--#}else{#-->
                                            <option value="0">全部</option>
                                            <!--# foreach($cates as $cate){ #-->
                                                <!--#if($cate['id']==$cid){#-->
                                                <option selected value="{$cate['id']}">{$cate['name']}</option>
                                                <!--# }else{ #-->
                                                <option  value="{$cate['id']}">{$cate['name']}</option>
                                                <!--# } #-->
                                            <!--# } #-->
                                        <!--#}#-->
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <table class="layui-table" lay-even>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>属于类型</th>
                            <th>上级类别</th>
                            <th>类别名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--#foreach($datas as $data){#-->
                        <tr>
                            <td>{$data['id']}</td>
                            <td><component class='EXT:mModel.service.srv.Helper' method='typeName' args='$data["tid"]' /></td>
                            <td><component class='EXT:mModel.service.srv.Helper' method='cateName' args='$data["pid"]' /></td>
                            <td>{$data["name"]}</td>
                            <td>
                                <a href="{@url:app/mModel/category/edit?id=$data['id']}" class="layui-btn layui-btn-small edit">编辑</a>
                                <a href="{@url:app/mModel/category/delete?id=$data['id']}" class="layui-btn layui-btn-small layui-btn-danger delete">删除</a>
                            </td>
                        </tr>
                        <!--#}#-->
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <div id="page"></div>
    <script>
        $(".delete").click(function () {
            var url = $(this).attr("href");
            layui.use('layer', function () {
                layer.confirm('确认删除？', {
                    btn: ['确认', '取消'] //按钮
                }, function () {
                    layer.msg('删除中，请稍候', {
                        icon: 2,
                        time: 0
                    });
                    $.get(url, function (res) {
                        res = JSON.parse(res);
                        layer.msg(res.msg, {
                            icon: res.status
                        });
                        if (res.status) {
                            location.href =
                                "{@url:app/mModel/category/run}";
                        }
                    });
                }, function () {});
            });
            return false;
        });
        layui.use('form', function () {
            var form = layui.form();

            //监听提交
            form.on('select(typeSelect)', function (data) {
                layer.load();
                location.href = "?m=app&app=mModel&c=category&a=run&type_id=" + data.value;
            });

            //监听提交
            form.on('select(cateSelect)', function (data) {
                layer.load();
                var type_id="{$type_id}";
                location.href = "?m=app&app=mModel&c=category&a=run&type_id="+type_id+"&cid=" + data.value;
            });
        });

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage,
                layer = layui.layer;

            laypage({
                cont: 'page',
                pages: "{$pages}",
                skip: true,
                curr: "{$curr}",
                jump: function (obj, first) {
                    if (!first) {
                        layer.load();
                        var url = "?m=app&app=mModel&c=category&a=run&page=" + obj.curr;
                        location.href = url;
                    }
                }
            });
        });
    </script>
</body>

</html>