/* 共用头结构样式表 */
.medz_ext_20131221_main{
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid #DEDEDE;
}

/* 头结构 */
.medz_ext_20131221_psth {
	margin: 2em 0 2em -20px;
	padding: 5px 45px 5px 20px;
	width: 240px;
	background: #FFF4DD url(../images/arw.gif) no-repeat 100% 50%;
	color: #F26C4F;
	font-size: 14px;
}
.medz_ext_20131221_xs1 {
	font-size: 12px !important;
}
.medz_ext_20131221_icon:hover {
	background:#F26C4F;
	border:2px solid #FFF;
}
.medz_ext_20131221_icon {
	background: #FFF4DD;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 5px;
	border: 2px solid #F26C4F;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	overflow: hidden;
	vertical-align: middle;
}

/* 帖内推荐样式表 */
.medz_ext_20131221_tienei_head {
	font-size: 14px;
	line-height: 28px;
}

.medz_ext_20131221_title {
	background: #f4f4f4;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
}
.medzext20131221tieneimain {
	padding:2px;
}
.medzext20131221tieneileft {
	float: left;
	width: 640px;
}
.medzext20131221tieneiright {
	float: right;
	color: #666666;
	padding-right:3px;
}
.medzext20131221tieneilou {
	color: #FFB905;
}
.medzext20131221tieneileft li{
	height: 21px;
	overflow: hidden;
	padding: 3px 0;
	position: relative;
	font-size:12px; 
	list-style: none outside none;
	overflow: hidden;
}
.medzext20131221tieneileft li a{color: #666666;
}
.medzext20131221tieneileft li a:hover{color: #FF6600; text-decoration:underline;
}
.medzext20131221_pop{
	padding:10px 0;
}
.medzext20131221_pop td,
.medzext20131221_pop th{
	padding:10px;
	font-size:12px;
}
.medzext20131221_pop th{
	width:45px;
	line-height:24px;
	text-align:right;
	font-weight:100;
}

/*
===================
开关选项
===================
*/
.switch_list{
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.switch_list li{
	float:left;
	width:85px;
}

/* 帖子聚合 */
.medzext20131221warp {
	margin-bottom: 10px;
	margin-top:10px;
	padding-bottom: 10px;
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid #DEDEDE;
}
.medzext20131221main {
	width: 370px;
	height: 80px;
	float:left;
	padding: 5px;
}
.medzext20131221juheleft {
	float:left;
	padding: 5px;
	background: #F7F7F7;
}
.medzext20131221juheleft, .medzext20131221juheleft img {
	width: 80px;
	height: 80px;
}

.medzext20131221juheright {
	width: 270px;
	height: 80px;
	float:left;
	padding: 5px;
}
.medzext20131221juheright h4 {
	font-weight: bold;
	color: #61B230;
	font-size: 16px;
}

.medzext20131221juheright:hover {
	background: #f4f4f4;
}

/* 文字列表 */
.medzext20131221warp tr, .medzext20131221warp th, .medzext20131221warp td {
	margin:10px;
	font-size: 14px;
	height:21px;
}
.medzext20131221warp tr:hover, .medzext20131221warp th:hover, .medzext20131221warp td :hover{
	background: #f4f4f4;
}
.medzext20131221warp td :hover{
    text-decoration:underline;
}

/* 纯图列表 */
.medzext20131221img {
	float: left;
	width:170px;
	height:150px;
	margin: 10px;
}
.medzext20131221imgtop, .medzext20131221imgtop img {
	width: 170px;
	height: 125px;
}
.medzext20131221imddwon {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}