<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap J_check_wrap">
	<div class="nav">
		<ul class="cc">
			<li><a href="{@url:app/jsjpay/manage/run}">基本设置</a></li>
			<li class="current"><a href="{@url:app/jsjpay/list/run}">充值记录管理</a></li>
			<li><a href="{@url:index/run|pw}index.php?m=app&app=jsjpay" target="_blank">插件前台</a></li>
		</ul>
	</div>
	<div class="h_a">在线补单</div>
	<div class="search_type cc mb10">
	<form action="{@url:index/run|pw}index.php?m=app&app=jsjpay&act=bd" method="post" target="_blank">
       UID：<input type="text" class="input length_1" name="uid" onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">   
	人民币 <input type="text" name="total" class="input length_1" onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
	订单编号 <input type="text" name="addnum" class="input length_5">
	<button class="btn btn_submit" type="submit" >提交</button></form>
	</div>

	<div class="h_a">订单搜索</div>
	<div class="search_type cc mb10">
	<form action="{@url:app/jsjpay/list/run}" method="post">
	UID：<input type="text" name="uid" class="input length_1" value="<!--#if ($args['uid']!='0'){#-->{$args['uid']}<!--#}#-->">
	订单号码：<input type="text" name="addnum" class="input length_3">
	充值时间：<input type="text" class="input length_2 J_date date" name="times" value="{@Pw::time2str($args['times'], 'Y-m-d')}"> - <input type="text" name="timeo" class="input length_2 J_date" value="{@Pw::time2str($args['timeo'], 'Y-m-d')}">
	<select name="op" class="select_2">
	       <option value="0" {@Pw::isSelected($args['op']=='0')}>全部</option>
	       <option value="1" {@Pw::isSelected($args['op']=='1')}>充值成功</option>
	       <option value="9" {@Pw::isSelected($args['op']=='9')}>未支付</option>
	</select>
	<button type="submit" class="btn btn_submit">搜索</button>
	</form>
	</div>

	<form class="J_ajaxForm" action="{@url:app/jsjpay/list/run}&act=delete" method="post">
	<div class="table_list">
		<table id="J_table_list" width="100%">
			<col width="50">
			<col width="100">
			<col width="100">
			<col width="100">
			<col width="100">
			<col width="150">
			<thead>
				<tr>
					<td>删除</td>
					<td>流水号</td>
					<td>uid</td>
					<td>人民币</td>
					<td>订单状态</td>
					<td>订单时间</td>
					<td>订单编号</td>
					<td>{$num}</td>
				</tr>
			</thead>
			<tbody>
			<!--# foreach ($list as $val) { #-->
				<tr>
					<td><input type="checkbox" name="showid[]" value="{$val['id']}" ></td>
					<td>{$val['id']}</td>
					<td><a href="index.php?m=space&uid={$val['uid']}" target="_blank">{$val['uid']}</a></td>
					<td>￥{$val['total']}</td>
					<td>
					<!--# if ($val['op']=='1') { #-->
					<span class="green">充值成功</span><!--# }else{ #-->
					<span class="red">未支付</span>
					<!--# } #--></td>
					<td>{@Pw::time2str($val['time'], 'Y-m-d H:i:s')}</td>
					<td><input type="text" value="{$val['addnum']}" class="input length_5" onclick="this.select()"></td>
				</tr>
			<!--# } #-->
			<!--# if ($val && !$list) { #-->
				<tr>
					<td><input type="checkbox" name="showid[]" value="{$val['id']}" ></td>
					<td>{$val['id']}</td>
					<td><a href="index.php?m=space&uid={$val['uid']}" target="_blank">{$val['uid']}</a></td>
					<td>￥{$val['total']}</td>
					<td>
					<!--# if ($val['op']=='1') { #-->
					<span class="green">充值成功</span><!--# }else{ #-->
					<span class="red">未支付</span>
					<!--# } #--></td>
					<td>{@Pw::time2str($val['time'], 'Y-m-d H:i:s')}</td>
					<td><input type="text" value="{$val['addnum']}" class="input length_5" onclick="this.select()"></td>
				</tr>
			<!--# } #-->
			</tbody>
		</table>
	</div>
	<table><tr>
	<td>
        	<page tpl="TPL:common.page" count="$num" page="$page" per="$perpage" args="$args" url="app/jsjpay/list/run" />
	</td>
	<td>
		<div class="btn_wrap_pd">
		<button class="btn" type="button" onClick="selectBox('all')">全选</button>
		<button class="btn" type="button" onClick="selectBox('reverse')">反选</button>
		<button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">删除</button>
		</div>
	</td>
	</tr>
	</table>
	</form>
</div>
<template source='TPL:admin.common.footer' />
<script>
function selectBox(selectType){  
var checkboxis = document.getElementsByName("showid[]");  
   if(selectType == "reverse"){  
            for (var i=0; i<checkboxis.length; i++){  
                //alert(checkboxis[i].checked);  
                checkboxis[i].checked = !checkboxis[i].checked;  
            }  
   }else if(selectType == "all"){  
            for (var i=0; i<checkboxis.length; i++){ 
                //alert(checkboxis[i].checked); 
                checkboxis[i].checked = true;
	   } 
    }
}
</script>
</body>
</html>