<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <template source='SRC:extensions.mModel.template.common.indexHead' />
    <link rel="stylesheet" href="{@G:url.extres}/mModel/css/details.css">
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap clear">
            <div class="m-details-main">
                <div class="m-details-header">
                    <div class="m-title">
                        您现在的位置：
                        <span>
                            <a>亚洲室内设计网</a>
                        </span> →
                        <span>
                            <a href="#">{$type["name"]}</a>
                        </span> →
                        <span>
                            <a href="{@url:app/mModel/index/run?type_id=$cate['parent']['id']}">{$cate['parent']['name']}</a>
                        </span> →
                        <span>
                            <a href="{@url:app/mModel/index/run?type_id=$cate['child']['id']}">{$cate['child']['name']}</a>
                        </span> →
                        <span>
                            <a href="javascript:;">{$data['name']}</a>
                        </span>
                    </div>
                    <div class="m-span">
                        <span><i class="iconfont icon-eye"></i><span id="map_num">{$data["look"]}</span></span>
                        <span><i class="iconfont icon-zan"></i><span id="comment_num">{$data["liked"]}</span></span>
                        <span><i class="iconfont icon-download"></i>{$data["download"]}</span>
                        <div class="right">
                            <span class="time">
                                <!--#echo date("Y:m:d h:i:s",$data['created_time']);#-->
                            </span> 发布
                        </div>
                    </div>
                </div>
                <!--#$pic=explode(",",$data['pictures'])[0];#-->

                <!--贴图展示-->
                <div class="m-details-img">
                    <a href="<component class='EXT:mModel.service.srv.Helper' method='getPic' args='$pic' />" style="background-image: url( <component class='EXT:mModel.service.srv.Helper' method='getPic' args='$pic' />);"
                        target="_blank"></a>
                </div>

                <div class="m-details-info">
                    <ul>
                        <!--#
                            $tmp=['style','version','img_type','light'];
                            $data_count=0;
                            foreach($tmp as $v){
                                if(!isset($data[$v])||empty($data[$v])){
                                    $data_count++;
                                }
                            }
                        #-->

                        <!--#if($data_count>1){#-->
                        <li>
                            <span class="m-title">{$type['name']}分类 </span>
                            <span>{$cate['child']['name']}</span>
                        </li>
                        <!--#}#-->

                        <!--#if(isset($data['style'])&&!empty($data['style'])){#-->
                        <li>
                            <span class="m-title">{$type['name']}风格 </span>
                            <span>{$data['style']}</span>
                        </li>
                        <!--#}#-->
                        <!--#if(isset($data['version'])&&!empty($data['version'])){#-->
                        <li>
                            <span class="m-title">{$type['name']}版本 </span>
                            <span>{$data['version']}</span>
                        </li>
                        <!--#}#-->

                        <!--#if(isset($data['light'])&&!empty($data['light'])){#-->
                        <li>
                            <span class="m-title">灯光 </span>
                            <span>{$data['light']}</span>
                        </li>
                        <!--#}#-->

                        <!--#if(isset($data['img_type'])&&!empty($data['img_type'])){#-->
                        <li>
                            <span class="m-title">贴图类型 </span>
                            <span>{$data['img_type']}</span>
                        </li>
                        <!--#}#-->

                        <!--#if($data_count>0){#-->
                        <li>
                            <span class="m-title">文件大小 </span>
                            <span>{$file['size']}</span>
                        </li>
                        <!--#}#-->

                        <!--必有的两项-->
                        <li>
                            <span class="m-title">下载次数</span>
                            <span>{$data['download']}</span>
                        </li>
                        <li>
                            <span class="m-title">所需交易币</span>
                            <span>{$data['price']}</span>
                        </li>
                    </ul>
                </div>

                <div class="m-img-designer clear">
                    <div class="m-user">
                        <div class="m-user-avatar">
                            <img src="{@Pw::getAvatar($data['uid'])}" />
                        </div>
                        <div class="m-user-info">
                            <a href="">{$username}</a>
                            <!--<span><i class="iconfont icon-address"></i>中国</span>-->
                        </div>
                    </div>
                    <div class="m-download">
                        <a class="m-download-1" href="{@url:app/mModel/index/download?id=$data['id']}" target="_blank"> <i class="iconfont icon-download"></i> 下载贴图
                        </a>
                        <!--#if($data['is_liked']){#-->
                        <a href="##" class="m-zan m-active"> <i class="iconfont icon-zan"></i> 点赞
                        </a>
                        <!--#}else{#-->
                        <a href="##" class="m-zan"> <i class="iconfont icon-zan"></i> 点赞{$data["liked"]}
                        </a>
                        <!--#}#-->
                    </div>

                </div>

                <!--#if(isset($data['description'])&&!empty($data['description'])){#-->
                <div class="m-des">
                    <h3>模型说明</h3>
                    <div class="details">
                        <p>
                            {$data['description']}
                        </p>
                    </div>
                </div>
                <!--#}#-->

                <div class="m-des">
                    <h3>使用权利说明</h3>
                    <div class="details">
                        <p>
                            会员在本站下载的原创贴图后，只拥有贴图的使用权，著作权归原作者及亚洲室内设计网所有。未经合法授权，会员不得以任何形式发布、传播、复制、转售该贴图。特别地，不得擅自以亚洲室内设计网名义或使用“亚洲室内设计”、“亚洲室内设计网”（本站注册商标）名称发布、复制、转售所下载的贴图，由此给本站造成损害的，本站将依法追究其相关法律责任。
                        </p>
                    </div>
                </div>

            </div>
            <template source='SRC:extensions.mModel.template.common.sliderDetails' />
        </div>
        <script>
            //是否登录
            Wind.use('jquery', 'global', function () {
                //代码来自global.js
                if (!GV.U_ID) {
                    $(document).on('click', '.m-download a', function (e) {
                        e.preventDefault();
                        var referer = $(this).data('referer');					//登录后跳转还是刷新
                        Wind.Util.quickLogin(referer ? this.href : '');
                    });
                } else {
                    var timer;
                    var i = 0;
                    $('.m-zan').on('click', function (e) {
                        e.preventDefault();
                        clearTimeout(timer);

                        if (i > 0) {
                            return;
                        }
                        i++;
                        var $this = $(this);
                        // if ($this.hasClass("m-active")) {
                        //     Wind.Util.resultTip({
                        //         error: true,
                        //         msg: res.msg,
                        //     });
                        //     timer = setTimeout(function () {
                        //         $('#J_resulttip').remove();
                        //     }, 1800);
                        //     return false;
                        // }
                        Wind.Util.ajaxMaskShow();
                        $.get("{@url:app/mModel/index/addLike?id=$data['id']}", function (res) {
                            $('#J_ajaxmask').remove();
                            res = JSON.parse(res);
                            if (res.status) {
                                Wind.Util.resultTip({
                                    msg: res.msg,
                                });
                                $this.addClass("m-active");
                            } else {
                                Wind.Util.resultTip({
                                    error: true,
                                    msg: res.msg,
                                });
                            }
                            timer = setTimeout(function () {
                                $('#J_resulttip').remove();
                            }, 1800);
                            i = 0;
                        });
                    });
                }


            });
        </script>
        <template source='SRC:extensions.mModel.template.common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>