<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap">
            <template source='SRC:extensions.mModel.template.common.sliderIndex' />
            <div class="m-index-main">
                <div class="mdl">
                    <a href="id-6178.html" target="_blank" class="mypiclists">
                        <div class="mdl_img"><img 
                                src="http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg" 
                                style="height: 270px; width: 270px; margin-top: 0px; margin-left: 0px; display: inline;"></div>
                    </a>
                    <h3><a href="id-6178.html" target="_blank">工装办公图库</a></h3>
                    <div><span>ID:6178</span>
                        <div class="details fr"><span><i class="icon icon-eye-s"></i><font class="cad_view" rel="6178">1155</font></span><span><i class="icon icon-dz-s"></i>2</span></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        </script>
        <template source='TPL:common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>