<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <link rel="stylesheet" href="{@G:url.extres}/mModel/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_23p2bipj6x7jh5mi.css">
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap clear">
            <template source='SRC:extensions.mModel.template.common.sliderIndex' />
            <div class="m-index-main">
                <div class="m-title">
                    <a href="{@url:app/mModel/index/run?type_id=$type['id']&order=1}">最新发布</a>
                    <a href="{@url:app/mModel/index/run?type_id=$type['id']&order=2}">最多下载</a>
                </div>
                <!--#
                    foreach($items as $item){#
                    $pic=explode(",",$item['pictures'])[0];
                #-->
                <div class="m-item">
                    <a style="background-image: url(<component class='EXT:mModel.service.srv.Helper' method='getPic' args='$pic' />);" href="{@url:app/mModel/index/details?id=$item['id']}"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="{@url:app/mModel/index/details?id=$item['id']}" target="_blank">{$item['name']}</a>
                        <div class="details right">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                {$item['liked']}
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                {$item['look']}
                            </span>
                        </div>
                    </div>
                </div>
                <!--#}#-->
            </div>
        </div>
        <script>
            Wind.use('jquery', 'global', function () {

                $(document).ready(function(){
                    initNav(); 
                    $(".m-title a.active").click(function(){
                        event.preventDefault();
                    });
                });

                function initNav() {
                    var order = getQueryString("order");
                    if (order == null) order = 1;
                    var $title = $(".m-index-main .m-title");
                    $title.children("a:eq(" + (order - 1) + ")").addClass("active");
                }

                function getQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]); return null;
                }
            });
        </script>
        <template source='TPL:common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>