<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <link rel="stylesheet" href="{@G:url.extres}/mModel/css/index-slider.css">
    <link rel="stylesheet" href="{@G:url.extres}/mModel/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_23p2bipj6x7jh5mi.css">
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap clear">
            <template source='SRC:extensions.mModel.template.common.sliderIndex' />
            <div class="m-index-main">

                <div class="m-title">
                    <a class="active" disabled href="">最新发布</a>
                    <a href="">最多下载</a>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
                <div class="m-item">
                    <a style="background-image: url(http://small.justeasy.cn/cad/201702/20170221210947_58ac3c1bc7fb2.jpg);" href="id-6178.html"
                        target="_blank">
                    </a>
                    <div class="m-item-info">
                        <a href="id-6178.html" target="_blank">工装办公图库</a>
                        <div class="details fr">
                            <span>
                                <i class="iconfont icon-zan"></i>
                                1155
                            </span>
                            <span>
                                <i class="iconfont icon-eye"></i>
                                2
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

        </script>
        <template source='TPL:common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>