<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <template source='SRC:extensions.mModel.template.common.indexHead' />
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap">
            <template source='SRC:extensions.mModel.template.common.slider' />
            <div class="m-main">

            </div>
        </div>
        <script>

        </script>
        <template source='SRC:extensions.mModel.template.common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>