<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <template source='SRC:extensions.mModel.template.common.indexHead' />
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap">
            <template source='SRC:extensions.mModel.template.common.slider' />
            <div class="m-main">
                <table class="layui-table" lay-even>
                    <colgroup>
                        <col width="50">
                        <col width="80">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>类型名</th>
                            <th>风格</th>
                            <th>版本</th>
                            <th>贴图类型</th>
                            <th>灯光</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--#foreach($datas as $data){#-->
                        <tr>
                            <td>{$data['id']}</td>
                            <td>{$data["name"]}</td>
                            <td>{$data["style"]}</td>
                            <td>{$data["version"]}</td>
                            <td>{$data["img_type"]}</td>
                            <td>{$data["light"]}</td>
                            <td>
                                <!--#
                        $status=["待审核","已通过","未通过"];
                        echo $status[$data["status"]];
                        #-->
                            </td>
                            <td>
                                <a href="{@url:app/mModel/model/edit?type_id=$type_id&id=$data['id']}" class="layui-btn layui-btn-small edit">编辑</a>
                                <a href="{@url:app/mModel/model/delete?id=$data['id']}" class="layui-btn layui-btn-small layui-btn-danger delete">删除</a>
                            </td>
                        </tr>
                        <!--#}#-->
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(".delete").click(function () {
                var url = $(this).attr("href");
                layui.use('layer', function () {
                    layer.confirm('确认删除？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        layer.msg('删除中，请稍候', {
                            icon: 2,
                            time: 0
                        });
                        $.get(url, function (res) {
                            res = JSON.parse(res);
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            if (res.status) {
                                location.href =
                                    "{@url:app/mModel/model/show?type_id=$type_id}";
                            }
                        });
                    }, function () {});
                });
                return false;
            })
        </script>
        <template source='SRC:extensions.mModel.template.common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>