<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
    <template source='SRC:extensions.mModel.template.common.indexHead' />
    <style>

        /*form.layui-form-pane {
            width: 1050px;
            display: block;
            float: left;
            height: 800px;
            margin-left: 10px;
        }*/
        
        .m-upload-img {
            width: 100%;
            height: 154px;
            margin-bottom: 20px;
            display: none;
        }
        
        .m-upload-img div {
            width: 200px;
            height: 153.75px;
            background-size: cover;
            background-position: center;
            float: left;
            margin-right: 15px;
            display: none;
        }
    </style>
</head>

<body>
    <pw-start />
    <div class="wrap">
        <template source='TPL:common.header' load='true' />
        <div class="main_wrap">
            <template source='SRC:extensions.mModel.template.common.slider' />
            <div class="m-main">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$type["name"]}名称*</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" required lay-verify="required" placeholder="{$type['name']}名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">{$type["name"]}分类*</label>
                            <div class="layui-input-inline">
                                <select lay-filter="cate" name="category" lay-verify="required">
                                    <option value="">请选择{$type["name"]}分类*</option>
                                    <!--# foreach($cate as $v){ #-->
                                        <option  value="{$v['id']}">{$v["name"]}</option>
                                    <!--# } #-->
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline cid">
                            <div class="layui-input-inline">
                                <select name="cid" lay-verify="required">
                                    <option value="">请先选择顶级分类*</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--#if(!empty($style)){#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$type["name"]}风格*</label>
                        <div class="layui-input-block">
                            <select name="style" lay-verify="required">
                            <option value="">请选择{$type["name"]}风格*</option>
                            <!--# foreach($style as $v){ #-->
                                <option  value="{$v}">{$v}</option>
                            <!--# } #-->
                        </select>
                        </div>
                    </div>
                    <!--# } #-->


                    <!--#if(!empty($version)){#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$type["name"]}版本*</label>
                        <div class="layui-input-block">
                            <select name="version" lay-verify="required">
                            <option value="">请选择{$type["name"]}版本*</option>
                            <!--# foreach($version as $v){ #-->
                                <option  value="{$v}">{$v}</option>
                            <!--# } #-->
                        </select>
                        </div>
                    </div>
                    <!--# } #-->


                    <!--#if(!empty($img_type)){#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">材质贴图*</label>
                        <div class="layui-input-block">
                            <select name="img_type" lay-verify="required">
                            <option value="">请选择材质贴图*</option>
                            <!--# foreach($img_type as $v){ #-->
                                <option  value="{$v}">{$v}</option>
                            <!--# } #-->
                        </select>
                        </div>
                    </div>
                    <!--# } #-->

                    <!--#if(!empty($light)){#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">灯光*</label>
                        <div class="layui-input-block">
                            <select name="light" lay-verify="required">
                            <option value="">灯光*</option>
                            <!--# foreach($light as $v){ #-->
                                <option  value="{$v}">{$v}</option>
                            <!--# } #-->
                        </select>
                        </div>
                    </div>
                    <!--# } #-->

                    <div class="layui-form-item">
                        <label class="layui-form-label">意向价格*</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" required lay-verify="required" placeholder="意向价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">简要说明</label>
                        <div class="layui-input-block">
                            <textarea name="description" placeholder="简要说明" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <!--#if(!$type['is_vr']){#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">上传渲染图</label>
                        <div class="layui-input-block">
                            <input type="file" multiple="multiple" lay-type="images" lay-title="最多选择五张图片哦" lay-filter="picture" name="img[]" class="layui-upload-file">
                        </div>
                    </div>
                    <!--#}else{#-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">上传全景图</label>
                        <div class="layui-input-block">
                            <input type="file" lay-type="images" lay-title="最多选择1张图片哦" lay-filter="picture" name="img[]" class="layui-upload-file">
                        </div>
                    </div>
                    <!--#}#-->

                    <!-- 图片展示 -->
                    <div class="m-upload-img">
                        <div alt=""></div>
                        <div alt=""></div>
                        <div alt=""></div>
                        <div alt=""></div>
                        <div alt=""></div>
                        <input type="hidden" lay-verify="required" name="pictures" />
                    </div>
                    <!-- 展示end -->

                    <div class="layui-form-item upload-file">
                        <label class="layui-form-label">上传{$type["name"]}</label>
                        <div class="layui-input-block">
                            <input type="file" lay-ext="7z|zip|rar" lay-title="请上传压缩文件,支持zip/rar/7z格式" name="models" class="layui-upload-file">
                        </div>
                    </div>

                    <input type="hidden" name="file">


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formAdd">立即提交</button>
                        </div>
                    </div>



                </form>
            </div>

        </div>
        <script>
            //上传操作，包括图片上传与文件上传
            layui.config({
                base: "{@G:url.extres}/mModel/lay/modules/"
            }).use(['uploadEx'], function () {
                layui.uploadEx({
                    url: 'index.php?app=mModel&m=app&c=upload&a=upload',
                    size: "20",
                    before: function () {
                        load = layer.load();
                    },
                    success: function (res) {
                        layer.close(load);
                        if (res.status == 0) {
                            layer.msg(res.msg, {
                                icon: 2
                            });
                        } else {
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            if (res.data.pictures) {
                                var pictures = res.data.pictures;
                                var path = res.data.path;
                                $('input[name="pictures"]').val(pictures);
                                i = 0;
                                $('.m-upload-img div').each(function () {
                                    if (!path[i]) {
                                        return
                                    }
                                    $(".m-upload-img").css("display", "block")
                                    $(this).css({
                                        "background-image": "url(" + path[i] + ")",
                                        "display": "block"
                                    });
                                    i++;
                                });
                            }

                            if (res.data.filename) {
                                $(".upload-file span").text(res.data.filename);
                                $('input[name="file"]').val(res.data.id);
                            }

                        }
                        console.log(res); //上传成功返回值，必须为json格式
                    }
                });
            });

            layui.use('form', function () {
                var form = layui.form();

                form.on('submit(formAdd)', function (data) {
                    var load = layer.load();
                    $.post("", data.field, function (res) {
                        res = JSON.parse(res);
                        layer.close(load);
                        layer.msg(res.msg, {
                            icon: res.status
                        });

                        //添加成功跳转到主页面
                        if (res.status) {
                            location.href = "{@url:app/mModel/model/run?type_id=$type_id}";
                        }
                    });
                    return false;
                });

                //分类监听
                form.on('select(cate)', function (data) {
                    var load = layer.load();
                    $.get("index.php?app=mModel&m=app&c=index&a=getCate" + "&pid=" + data.value,
                        function (res) {
                            res = JSON.parse(res);
                            layer.close(load);
                            if (res.status) {
                                var str = '<option value="">请选择子分类*</option>';
                                for (x in res.data) {
                                    str += '<option value="' + res.data[x].id + '">' + res.data[x].name +
                                        '</option>';
                                }
                                $('select[name="cid"]').html(str);
                                form.render('select');
                            } else {
                                layer.msg(res.msg, {
                                    icon: 2
                                });
                            }
                        });
                    return false;
                });
            });
        </script>
        <template source='SRC:extensions.mModel.template.common.footer' load='true' />
    </div>

    <pw-end />
</body>

</html>