<div class="m-details-slider">
    <div class="m-title">
        {$data['name']}相关搜索
    </div>
    <div class="m-research">
        <div class="m-item">
            <a href="" style="background-image: url(http://big.justeasy.cn//material/upimg_201703/20170310151521_991.jpg);"></a>
            <p>木纹</p>
        </div>
        <div class="m-item">
            <a href="" style="background-image: url(http://big.justeasy.cn//material/upimg_201703/20170310151521_991.jpg);"></a>
            <p>木纹</p>
        </div>
        <div class="m-item">
            <a href="" style="background-image: url(http://big.justeasy.cn//material/upimg_201703/20170310151521_991.jpg);"></a>
            <p>木纹</p>
        </div>
    </div>
</div>