<div class="m-index-slider">
    <div class="m-title">
        {$type['name']}分类
    </div>
    <div class="m-all">
        <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
            </ul>
        </div>
          <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
            </ul>
        </div>
          <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
                
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
            </ul>
        </div>
         <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
                
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
            </ul>
        </div>
         <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
                
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
            </ul>
        </div>
         <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
                
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
            </ul>
        </div>
          <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
            </ul>
        </div>
          <div class="m-item">
            <div class="m-item-parent">
                <a href="">家具地产</a>
            </div>
            <ul class="m-item-children">
                <li class="links"><a href="cad_bysmallclass.asp?sid=41">家装</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=42">样板房</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=43">别墅</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=44">售楼处</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=73">节点详图</a></li>
                <li class="links"><a href="cad_bysmallclass.asp?sid=77">其他</a></li>
            </ul>
        </div>
    </div>
</div>