<div class="m-details-slider">
    <div class="m-title">
        {$data['name']}相关搜索
    </div>
    <div class="m-research">
        <!--#if(isset($about)&&!empty($about)){#-->
        <!--#foreach($about as $v){
            $pic=explode(",",$v['pictures'])[0];
        #-->
        <div class="m-item">
            <a href="{@url:app/mModel/index/details?id=$v['id']}" style="background-image: url(<component class='EXT:mModel.service.srv.Helper' method='getPic' args='$pic' />);"></a>
            <p>{$v['name']}</p>
        </div>
        <!--#}}#-->
    </div>
</div>