<div class="m-index-slider">
    <div class="m-title">
        {$type['name']}分类
    </div>
    <div class="m-all">
        <div class="m-item">
            <div class="m-item-parent">
                <a href="">{$cates['parent']['name']}</a>
            </div>
            <ul class="m-item-children">
                <!--#foreach($cates['children'] as $v){#-->
                    <li class="links"><a href="cad_bysmallclass.asp?sid=41">{$v['name']}</a></li>
                <!--#}#-->
            </ul>
        </div>
    </div>
</div>