<link href="{@theme:css}/jquery.slideBox.css" rel="stylesheet" />
<style type="text/css">
    	/*tab 标题*/

        .box_wrap .design_layout_hd{
            border: none;
        }

    	.design_layout_tab li a{
			text-decoration: none;
			font-size: 12px;
            font-weight: bold;
            border-radius: 3px;
            border: 1px solid #ccc;
            margin-right: 5px;
    	}
        .design_layout_tab li.current a,
    	.design_layout_tab li a:hover{
			text-decoration: none;
			background: #aaa;
            color: #fff;
            /*border: none;*/
			transition: all 1s;
			-moz-transition: all 1s;	/* Firefox 4 */
			-webkit-transition: all 1s;	/* Safari 和 Chrome */
			-o-transition: all 1s;
    	}
    	/*tab内容*/
    	ul.m-list{
    		font-size: 14px;
    		line-height: 200%;
    		margin-top: 12px;
    		margin-left: 12px;
    	}

    	ul.m-list a {
    		padding-left: 2px;
    	}

    	ul.m-list a,
    	ul.m-list a:hover{
    		text-decoration: none;
    	}

   /*     #m-slider{
            width: 500px !important;
            height: 281px !important;
        }*/
    </style>
<pw-drag id="first_segment"/>
<script>
Wind.use('jquery', 'global', function() {
    Wind.js('{@theme:js}/jquery.slideBox.min.js', function() {
        $("#m-slider").slideBox({
            direction: 'left', //left,top
            duration: 0.6, //unit:seconds
            easing: 'swing', //swing,linear
            delay: 3, //unit:seconds
            startIndex: 0,
            hideClickBar: false,
            clickBarRadius: 5, //unit:px
            hideBottomBar: false,
            // width: 500,
            // height: 281
        });
            
            // if(tab_wrap2.length) {
            //     Wind.use('tabs', function(){
            //         tab_wrap2.each(function(){
            //             $(this).find('.J_tabs_nav').first().tabs($(this).find('div.J_tabs_ct').first().find('div'));
            //         });
            //     });
            // }
        
        // tab页面切换
        var $tab_wrap = $('.J_tab_wrap');
        $tab_wrap.each(function () {
            var _this = this;
            $(this).find('li[role="tab"]').mouseover(function (t) {

                //已经在选中状态下，直接返回
                if($(this).hasClass("current")){
                    return;
                }

                //选中状态切换
                $(_this).find('li[role="tab"]').removeClass("current");
                $(this).addClass("current");

                //展示区域切换
                var data_id=$(this).find("a").attr("data-id");
                $(_this).find('.J_tabs_ct>div').fadeOut(1000,function(){
                    $(this).attr("aria-hidden","true");
                });
                var $tab=$(_this).find('.J_tabs_ct div[tabid="'+data_id+'"]');
                $tab.fadeIn(1200,function(){
                    $(this).attr("aria-hidden","false");
                });
            });
        });
        
    });
});
</script>